<footer class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-info">
        <p>
          A redesign of
          <a href="https://news.ycombinator.com" target="_blank" rel="noopener"
            >Hacker News</a
          >
          using Angular 19 and the
          <a href="https://github.com/HackerNews/API">Hacker News API</a>
        </p>
      </div>
      <div class="footer-links">
        <a href="https://github.com/HackerNews/API">API</a>
        <a href="https://news.ycombinator.com/newsguidelines.html"
          >Guidelines</a
        >
        <a href="https://news.ycombinator.com/newsfaq.html">FAQ</a>
        <a href="https://news.ycombinator.com/lists">Lists</a>
        <a href="https://news.ycombinator.com/security.html">Security</a>
      </div>
    </div>
  </div>
</footer>
